.Header{
width: 1000px;
 height: 150px;
 margin: 0px auto;
 border: solid thin red;


}

.smallbox1{
  width: 100px;
 height: 150px;
 border: solid thin blue;
 float: right;
 box-sizing: border-box;
}
.smallbox2{
  width: 100px;
 height: 150px;
 border: solid thin blue;
 box-sizing: border-box;
}
.smallbox3{
  text-align: center;
}
.HM{
  display: flex;
  align-items: center;
  background-color: #0080bf;
}
.HM img{
  width:100%;
  height: 100%;
}
.container{
  display: flex;
  align-items: center;
  background-color:#0080bf;
}
.container img{
  width:100%;
  height: 100%;
}
.containerA{
  display: flex;
  align-items: center;
}
.containerA img{
  width: 60%;
  height: 30%;
}
.nav{
  text-decoration: none;
  list-style: none;
}
.containerW img{
  width: 100%;
  height: 5%;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.row img{width: 100%;
}
.f{
  background-color: gold;
}
.row{
  background-color: gold;
}
.main-footer{
  text-align: center;
}
.c{
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
li, a{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: red;
  text-decoration: none;

}
nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  background-color: #55d0ff;

}
.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;

}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color: blue;
}




.k{
  background-color: red;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #00acdf;
}
